<h2>What is this?</h2>
<p>This website is made by NoSkillCorp which is no company. Just a bunch of guys working on a side project.<br />
We wanted to help share tips and ideas from the community of Overwatch players.<br />
Content is completely anonymous, and there is no login required to vote or create a tip.</p>

<h2>Can you add this feature I just thought about ?</h2>
<p>Yeah of course we can, we already have a bunch of extra features that we want to add, but we're open for any ideas.<br />
Send us a tweet <%= link_to "@0verwatchTips", "https://twitter.com/0verwatchTips" %> and we'll look at your proposal.</p>

<h2>I want to contribute</h2>
<p>And you should ! Open an issue or make a pull request on <a class="btn-link" href="https://github.com/NoSkillCorp/overwatch-tips">Github</a> as much as you want.<br />
If everyone could do this instead of requesting features, that would be great.

<p>The website is built using <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>.</p>

<p>To run the website simply fork the <a class="btn-link" href="https://github.com/NoSkillCorp/overwatch-tips">Github</a> and run <code>bundle install</code>, <code>rake db:migrate</code>.<br />
<code>rails s</code> to launch the server and you should be ready to go.</p>

<h2>Ideas ?</h2>

<p>If you have any idea or whatever, feel free to send us a tweet <%= link_to "@0verwatchTips", "https://twitter.com/0verwatchTips" %></p>
