
<h1 class="page-title text-center">Last Tips</h1>

<p class="text-center">No ads, no fucks given. Let's vote !</p>

<%= paginate @tips %>

<div class="row">
    <% @tips.each do |tip| %>
        <%= render partial: "tips/show", locals: { tip: tip, with_gaming_object_description: true, klass: "col-md-12" } %>
    <% end %>
</div>

<%= paginate @tips %>