<h1 class="page-title text-center">Log in</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel">
      <div class="panel-heading text-center">
        <h2>Log in your profile to see your tips</h2>
      </div>
      <div class="panel-body">
        <%= render partial: "users/login_form" %>
      </div>
    </div>
  </div>  
</div>
