<div class="gaming_object_cel">
  <div class="hexagon">
        <div class="contents">
            <ul id="hexGrid">
                <% @gaming_objects.each do |gaming_object| %>
                    <li class="hex">
                        <%= link_to gaming_object, class: 'hexIn' do %>
                            <%= image_tag gaming_object.image_path %>
                                <div class="h3" style="font-size: 2.5rem;"><%= gaming_object.name %></div>
                                <p><%= gaming_object.description %></p>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
  </div>
</div>