<p id="notice"><%= notice %></p>

<h1><%= @type.pluralize %></h1>


<div class="row">
  
  <% @gaming_objects.each do |gaming_object| %>
  
    <% if @type == "Character" %>
      <%= render partial: 'gaming_objects/cel', locals: { gaming_object: gaming_object, klass: "col-md-2" } %>
    <% elsif @type == "Map" %>
      <%= render partial: 'gaming_objects/cel', locals: { gaming_object: gaming_object, klass: "col-md-4" } %>
    <% end %>
    
  <% end %>
  
</div>