/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *
 *********************** COLOR SET ****************************
 * orange : ffc60e,ffd240,ffdc6a
 * jaune : ffed0e, fff140, fff46a
 * bleu : 2a22b2, 120D70, 1A148f
 * violet : 5D16AD, 37076D, 460B8A
 **************************************************************
 */
 
 
body {
    font-family: 'Nirmala' !important;
}

    
.footer {
  padding-top: 1rem;
}

html {
  position: relative;
  min-height: 100%;
}

.main-container {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  color: #777;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.error {
  color : #a94442;
}