@font-face {
    font-family: 'Century-Gothic';
    src: font-url('century-gothic.ttf') format('truetype');
}

@font-face {
    font-family: 'Big-Noodle';
    src: font-url('big_noodle_titling.ttf') format('truetype');
}

@font-face {
    font-family: 'Big-Noodle-Italique';
    src: font-url('big_noodle_titling_oblique.ttf') format('truetype');
}