@font-face {
    font-family: 'Nirmala';
    src: font-url('Nirmala.ttf') format('truetype');
}

@font-face {
    font-family: 'Century-Gothic';
    src: font-url('century-gothic.ttf') format('truetype');
}