//$overwatch-yellow: #ffc14c;
$overwatch-yellow: #f4bd00;
$overwatch-dark-blue: #283361;

.navbar-text {
    margin-bottom: 0;
}

#menu.navbar-default .navbar-brand {
    font-size: 24px;
    color: white;
}
#menu.navbar-default {
    font-size: 22px;
    background-color: $overwatch-yellow;
    border-width: 0px;
}
#menu.navbar-default .navbar-nav>li>a {
    background-color: $overwatch-yellow;
}

#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: white;
    background-color: $overwatch-dark-blue;
    
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    background-color: $overwatch-dark-blue;
    color: white;
}
#menu.navbar-default .navbar-toggle {
    border-color: #ffedad;
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #ffedad;
}
#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffedad;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: $overwatch-yellow;
}