//$overwatch-yellow: #ffc14c;
$overwatch-yellow: #FFcc00;
$overwatch-dark-blue: #283361;

.navbar-text {
    font-size:24px;
    font-family: 'Big-Noodle';
    color: $overwatch-dark-blue !important;
}

.score {
    margin-top: 0.6rem !important;
    margin-bottom: 0.6rem !important;
}

.dark-blue {
    color: $overwatch-dark-blue;
}

#menu.navbar-default .navbar-brand {
    font-size: 24px;
    color: white;
}

.navbar-brand {
    padding: 0px !important;
    margin-right: 1rem;
}
#menu.navbar-default {
    font-size: 30px;
    background-color: $overwatch-yellow;
    border-width: 0px;
    color: $overwatch-dark-blue;
}
#menu.navbar-default .navbar-nav>li>a {
    background-color: $overwatch-yellow;
    color: $overwatch-dark-blue;
}

#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: white;
    background-color: $overwatch-dark-blue;
    
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    background-color: $overwatch-dark-blue;
    color: white;
}
#menu.navbar-default .navbar-toggle {
    border-color: #ffedad;
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #ffedad;
}
#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffedad;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: $overwatch-yellow;
}

.logo-holder {
    height: 100% !important;
    width: auto;
}