// Place all the styles related to the Tips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tip_score_panel {
    font-size: 2.5rem;
    font-weight: bold;
    //width: 3rem;
    margin-right: 1rem;
    
    .vote_links {
        font-size: 1.25rem;
    }
    .tip_posneg_scores {
        font-size: 1rem;
        color: grey;
    }
}

.gaming_object_icon{
    height: 5rem;
}

.tip_gaming_object_description {
    margin-right: 1rem;
}

.tip_panel .panel-body {
    word-wrap: break-word;
    .playing_sentence {
        color: grey;
    }
}

.tip_description {
}

.time_ago {
    color: grey;
}