// Place all the styles related to the Tips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel {
    border-radius: 0px !important;
    border: 0 !important;
}

.panel-body-home {
    padding: 15px;
    padding-bottom: 20px;
    word-wrap: break-word;
    overflow: hidden;
}

.tip_score_panel {
    font-size: 2.5rem;
    font-weight: bold;
    //width: 3rem;
    margin-right: 1rem;
    
    .vote_links {
        font-size: 1.25rem;
    }
    .tip_posneg_scores {
        font-size: 1rem;
        color: grey;
    }
}

.gaming_object_icon{
    height: 5rem;
}

.tip_gaming_object_description {
    margin-right: 1rem;
}

.tip_panel .panel-body {
    position: relative;
    word-wrap: break-word;
    .playing_sentence {
        color: grey;
    }
}
    
.tip_description {
}

.smaller-description{
    font-size: 1rem;
}

.tip_footer {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50%;
    text-align: right;
}

.time_ago {
    color: grey;
}

.in-text-link, .in-text-link:visited{
    //color: blue;
}
.in-text-link:hover{
    background-color: transparent;
}

.hall-of-shame-button{
    width: 100%;
}
.hall-of-shame {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.bad-tips-heading {
    margin-bottom: 20px;
}