<% tip ||= Tip.new %>
<% with_gaming_object_description ||= false %>
<% klass ||= "col-md-12" %>
<% big_show = big_show.nil? ? false : big_show %>

<%= redux_store("ReduxStore", props: {
    gamingObject: {
      withGamingObjectDescription: with_gaming_object_description,
      # path: gaming_object ||= "",
      # iconPath: gaming_object.image_path ||= ""
    },
    tip: {
      isVoted: tip.is_voted?(@user),
      plusActive: tip.is_upvoted?(@user),
      minusActive: tip.is_downvoted?(@user),
      score: tip.score,
      positiveScore: tip.positive_score,
      negativeScore: tip.negative_score,
      description: tip.description,
      createdAt:  time_ago_in_words(tip.created_at),
      category: playing_sentence(tip.category, tip.gaming_object)
    }
  }) 
%>
  
<div class="<%= klass %>">
    <%= react_component("TipPanel") %>
</div>