<% tip ||= Tip.new %>

<div class="col-md-12">
    <div class="panel panel-default text-center">
      <div class="panel-body">
        <div class="pull-left tip_score">
          <%= tip.score %>
          <div class="vote_links">
            <%= link_to upvote_tip_path(tip), remote: true, method: :post do %>
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <% end %>
            <%= link_to downvote_tip_path(tip), remote: true, method: :post do %>
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            <% end %>
          </div>
        </div>
        <div class="pull-left tip_description">
          <%= tip.description %>
        </div>
      </div>
    </div>
</div>